export LLVM_PATH="/usr/lib/llvm-17"
export PATH="${LLVM_PATH}/bin:${PATH}"

export TVM_LOG_DEBUG=1
export TVM_HOME="/root/project/tvm"
export TVM_INCLUDE_PATH="${TVM_INCLUDE_PATH}:${CONDA_PREFIX}"

# VTA
export VTA_HW_PATH=${TVM_HOME}/3rdparty/vta-hw

export PYTHONPATH="${TVM_HOME}/python:${TVM_HOME}/vta/python:${PYTHONPATH}"
export PATH="${TVM_HOME}/build/bin:${PATH}"