export LLVM_PATH="/usr/lib/llvm-17"
export PATH="${LLVM_PATH}/bin:${PATH}"

export TVM_LOG_DEBUG=1
export TVM_HOME="/root/project/tvm"

export PYTHONPATH="${TVM_HOME}/python:${PYTHONPATH}"
export PATH="${TVM_HOME}/build/bin:${PATH}"