source_up
export TVM_LOG_DEBUG="DEFAULT=0"
export IMCFLOW_RUNNER=rtl # py, rtl, both
export IMCFLOW_DEBUG=1
export IMCFLOW_DEBUG_COMPUTE=0
export IMCFLOW_DEBUG_NOC=0
export IMCFLOW_BUGFIX_OVERFLOW_SW=0
export IMCFLOW_BIG_IMEM="0"
export SRAM_BACKDOOR=1
export TF_CPP_MIN_LOG_LEVEL=3
export IMCFLOW_HOST_OS=baremetal # linux, baremetal
export IMCFLOW_HOST_ISA=x86 # arm, x86
export IMCFLOW_ADDR=0xa0000000
export IMCFLOW_LEN=0x100000
export INT_ACK_GEN_ADDR=0xa0110000
export INT_ACK_GEN_LEN=0x10000
