*.pdf
core*
big/
eval_dir/
*_ref/
logs/
test_inputs/*
test_mem_alloc_*/
test.sh

# VCS files
*.key
*.history
*.vpd
*.fsdb*
verdi_config_file
vc_hdrs.h

# verdi files
verdiLog/
novas*

# Environment config
.env

# Temporary files
*.swp
*.dump
core.*
transcript
*.wlf
*.vstf
